mixin hero-banner(carouselOptions = {})
  #hero-banner.carousel.carousel-dark.slide.min-vh-100
    .carousel-indicators
      +hero-banner-controls(carouselOptions)
    .carousel-inner
      block
    button.carousel-control-prev.d-none.d-md-flex(type='button' data-bs-target='#hero-banner' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next.d-none.d-md-flex(type='button' data-bs-target='#hero-banner' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next

mixin hero-banner-slide(carouselOptions = {}, slideOptions = {})
  .carousel-item(class=(carouselOptions.activeIndex === slideOptions.index ? 'active' : ''))
    block

mixin hero-banner-controls(carouselOptions = {})
  each _, index in Array(carouselOptions.slideCount || 1)
    +hero-banner-control(carouselOptions, { index: index })

mixin hero-banner-control(carouselOptions = {}, controlOptions = {})
  button(
    type='button'
    class=(carouselOptions.activeIndex === controlOptions.index ? 'active' : '')
    data-bs-target='#hero-banner'
    data-bs-slide-to=(controlOptions.index)
    aria-label='Slide #{index}'
  )
