include ./carousel.pug
include ./gmap.pug

mixin text-media(options = {})
  .py-5(class=options.class)
    .container
      .row.align-items-center
        .col-12.col-lg-6.mb-4.mb-lg-0
          if options.reversed
            if (options.media)
              +text-media-media(options, options.media)
          else
            +text-media-text(options, options.content, options.link, options.list)
        .col-12.col-lg-6
          if options.reversed
            +text-media-text(options, options.content, options.link, options.list)
          else
            if (options.media)
              +text-media-media(options, options.media)

mixin text-media-text(options, content, link, list)
  .vstack.gap-3.align-items-start
    if (content)
      .h2.my-0 #{content.title}
      .h3.my-0 #{content.subtitle}
      p #{content.text}
    if (list)
      ul.list-unstyled.mb-0
        each item in list
          li.mb-2.d-flex.align-items-center
            .me-2.fs-4(class=item.class)
            | #{item.text}
    if (link)
      a.btn.btn-primary(href=link.url class=link.class target=link.target) #{link.title}

mixin text-media-media(options, media)
  case media.type
    when 'youtube'
      +text-media-youtube(options, media)
    when 'image'
      +text-media-image(options, media)
    when 'gallery'
      +text-media-gallery(options, media)
    when 'gmap'
      +text-media-gmap(options, media)


mixin text-media-image(options, media)
  img.d-block.m-auto.mw-100(src=media.url alt=media.alt title=media.title)

mixin text-media-youtube(options, media)
  iframe.d-block.m-auto.mw-100(
    src=media.url
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    width="640"
    height="480"
  )

mixin text-media-gallery(options, media)
  - var galleryId = `text-media-gallery-{UNIQUE_ID++}`;
  - var target = '#' + galleryId;

  .carousel.slide(id=galleryId)
    .carousel-indicators
      each slide, index in media.slides
        +carousel-pagination-control({
          active: index === 0,
          index: index,
          target: target
        })
    .carousel-inner
      each slide, index in media.slides
        .carousel-item(class=(index === 0 ? 'active' : ''))
          +text-media-media(options, slide)
    +carousel-button-prev({ target: '#' + galleryId })
    +carousel-button-next({ target: '#' + galleryId })

mixin text-media-gmap(options, media)
  +gmap
