include ../mixins/carousel.pug
include ../mixins/gmap.pug

mixin text-media(options)
  .py-5(class=options.classNames)
    .container
      .row.align-items-center
        .col-12.col-lg-6.mb-4.mb-lg-0
          if options.reversed
            +text-media-media(options, options.media)
          else
            +text-media-text(options)
        .col-12.col-lg-6
          if options.reversed
            +text-media-text(options)
          else
            +text-media-media(options, options.media)

mixin text-media-text(options)
  .vstack.gap-3.align-items-start
    .h2.my-0 #{options.title}
    .h3.my-0 #{options.subtitle}
    div #{options.content}
    a.btn.btn-primary(href=options.link.url class=options.link.modifier target=options.link.target) #{options.link.title}

mixin text-media-media(options, media)
  case media.type
    when 'youtube'
      +text-media-youtube(options, media)
    when 'image'
      +text-media-image(options, media)
    when 'gallery'
      +text-media-gallery(options, media)
    when 'gmap'
      +text-media-gmap(options, media)

mixin text-media-image(options, media)
  img.d-block.m-auto.mw-100(src=media.url alt=media.alt title=media.title)

mixin text-media-youtube(options, media)
  iframe.d-block.m-auto.mw-100(
    src=media.url
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    width="640"
    height="480"
  )

mixin text-media-gallery(options, media)
  - var target = '#' + media.galleryId;

  .carousel.slide(id=media.galleryId)
    .carousel-indicators
      each slide, index in media.slides
        +carousel-pagination-control({
          active: index === 0,
          index: index,
          target: target
        })
    .carousel-inner
      each slide, index in media.slides
        .carousel-item(class=(index === 0 ? 'active' : ''))
          +text-media-media(options, slide)
    +carousel-button-prev({ target: '#' + media.galleryId })
    +carousel-button-next({ target: '#' + media.galleryId })

mixin text-media-gmap(options, media)
  +gmap